    <% layout('layout/boilerplate') -%>  
        <div class="row">
    <h1 class="text-center">
        ADD A NEW PLACE
    </h1>
   <div class="col-md-6 offset-md-3">


     <form  action="/campgrounds/<%=data.id%>/edit?__method=PUT" method="post" novalidate class="need-validate" enctype="multipart/form-data">
        <div class="mb-3">
            <label  class="form-label" for="title">ENTER THE TITLE</label>
            <input class="form-control" type="text" name="title" placeholder="Himalayan Ground" required>
            <div class="valid-feedback">
      Looks good!
    </div>

        </div>
        <br>
        <div class="mb-3">
            <label class="form-label" for="location">ENTER THE LOCATION</label>
            <input class="form-control" type="text" name="location" placeholder="India" required>
            <div class="valid-feedback">
      Looks good!
    </div>
        </div>
        <br>
        
      <div class="mb-3 custom-file">
  <label for="formFile" class="form-label custom-file-label">ENTER IMAGES</label>
  <input class="form-control" type="file" id="formFile" name="placeimage" multiple>
</div>
        
<div class="mb-3">
    <%data.images.forEach((data,i)=>{%> 
        <img src="<%= data.thumbnail%> " class="img-thumbnail" alt="">
        <div class="form-check-inline">
            <input type="checkbox"  id="image-<%=i%>" name="deleteimages[]" value="<%=data.filename%>">
        </div>
        <label for="image-<%=i%>">Delete</label>
        <% }); %> 
</div>

        


        <div class="mb-3">
         <label class="form-label" for="PRICE">ENTER THE PRICE</label>
            <div class="input-group">
  <span class="input-group-text">$</span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="0.00" name="price" required>
  <span class="input-group-text">.00</span>
<div class="valid-feedback">
      Looks good!
    </div>
</div>
</div>  


        <div class="mb-3">
            <label class="form-label" for="description">ENTER THE DESCRIPTION OF THE PLACE</label>
            <textarea class="form-control" type="text" name="description" placeholder="Description...." required></textarea>
        </div>
        <div class="valid-feedback">
      Looks good!
    </div>
        <br>
        <div class="mb-3"><button class="btn btn-success">EDIT</button></div>

    </form> 
    <br>
    <div class="mb-3"><a href="/campgrounds" ><button>ALL PLACES</button></a>
</div>
    
    </div>
   </div>



    </form>
    


    


<!--new form-->
